@model planillas_web.Models.Estados_empleado

@{
    ViewBag.Title = "Eliminar";
}


<h3>Estas seguro de eliminar este registro?</h3>
<div>
    <h4>Estados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
