@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Planillas web</h1>
    <p class="lead">Aplicacion desarrollada para el control basico de una planilla laboral</p>
    <p><a href="@Url.Action("Login","Home")" class="btn btn-primary btn-lg">Iniciar sesion &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Creacion de usuarios</h2>
        <p>
            Cree sus propios usuarios para manejar la plataforma. Estos pueden tener perfiles que se adapten a los niveles de seguridad que necesite.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Administracion de empleados</h2>
        <p>Comience registrando su empresa y todo lo que conlleva con ella. Posteriormente, puede registrar todos los empleados que desee y administrar su estado laboral.</p>

    </div>
    <div class="col-md-4">
        <h2>Reportes</h2>
        <p>Puedes generar facilmente reportes de los empleados o incluso hasta planillas listas para imprimir.</p>
    </div>
</div>