@{
    ViewBag.Title = "Main";
}
<h2>Bienvenido</h2>


<p>Comienza a utilizar la aplicacion navegando a travez de las fichas.</p>
<p>O si deseas cerrar sesion, <a href="@Url.Action("Cerrar_sesion","Home")">haz clic aqui</a>.</p>
